@media screen and (min-width: 768px)
	.works
		.versionning
			display none
		article .cover
			width 80%
		article .projectDescription .jaune
			width 80%
		
	.skills
		.flexSkills li 
			width 33%
			height auto