@media screen and (min-width: 992px)
	header
		align-items baseline
		
	.hamburger-icon-open
		display none
	div.translate
		position relative
		right 0 !important
		height initial
		background-color initial
		.hamburger-icon-close
			display none
		nav ul
			display flex
			justify-content space-around
			li
				border-bottom none
				&.borderNone
					display none
		
	.skills
			.flexSkills li 
				width 24%
				height auto