ul
	font-family var(--encode)
	li
		height 2.4rem
		//border-bottom 1px solid silver
		a
			color var(--yellow-dark)
			text-decoration none
			line-height 2.4rem
			text-align center
			display block
			&:active,
			&:focus,
			&:hover
				color var(--yellow-hover)
				cursor pointer