ul
	font-family var(--encode)
	li
		height 2.4rem
		border-bottom 1px solid blanchedalmond
		a
			color black
			text-decoration none
			line-height 2.4rem
			text-align center
			display block
			&:active,
			&:focus,
			&:hover
				color cadetblue
				cursor pointer
				
audio
	display block
	margin 1rem auto 0
	
				
.copyright
	font-family var(--shadows)
	display block
	text-align center
	padding 2rem 0 1rem
	a
		color black
		text-decoration none
		cursor pointer
		&:hover
			color yellow