.logo
	font-size var(--main-title--mobil)
	font-family var(--montserrat)
	.calligraphy
		font-size var(--main-title--mobil)
		font-family var(--shadows)
		
.hamburger-icon-open
	cursor pointer
	.bar-one,
	.bar-two,
	.bar-three
		width 35px
		height 5px
		background-color black
		margin 6px 0	
		
.translate
	position absolute
	top 0
	width 70%
	height 100vh
	z-index 200
	background-color #5F9EB0
	transition right .5s ease
	.hamburger-icon-close
		position absolute
		margin .5rem 0 0 1rem
		cursor pointer
		.bar-one
			width 35px
			height 5px
			background-color black
			margin 6px 0	
			transform rotate(-45deg) translate(-9px, 6px)
		.bar-two
			opacity 0
		.bar-three
			width 35px
			height 5px
			background-color black
			margin 6px 0	
			transform rotate(45deg) translate(-2px, 0px)
	nav
		ul
			font-family var(--encode)
			li 
				list-style-type none
				height 3.4rem
				border-bottom 1px solid black
				&.borderNone
					border-bottom initial
				&.githeight
					height 85px
				&.linkheight
					height 110px
				a 
					color black
					line-height 3.4rem
					text-transform uppercase
					&.links
						display block
						height 100%
						width auto
						margin 1rem 0 0 0
					img
						display block
						height 100%
						width auto
						margin 0 auto
	&.close
		right -70%
	&.open
		right 0
				
#home:target,
#home:target main,
#works:target,
#works:target main,
#skills:target,
#skills:target main,
#contact:target,
#contact:target main
	margin-top -50px
	padding-top 50px

	  