.home 
	.yellowBackground
		background-color #ffebcd
		padding: 5rem 1.5rem 5rem 1.5rem
		h2
			margin-bottom 2rem
			.junior 
				font-family: var(--shadows)
				font-size: 2rem
			.certif
				font-size 1rem
		.now
			font-family var(--montserrat)
			font-size 1rem
			color #282828
			text-align center
			margin 2rem 0
		.trait
			width 60px
			height 1px
			border-top 1px solid black
			margin 0 auto
		.metiers
			text-align center
			font-weight 400
			font-family var(--encode) 
			font-size 1rem
			margin 2rem 0 2rem
		.ancreContact
			width 10rem
			height 2.6rem
			background-color black
			text-align center
			margin 0 auto
			line-height 2.6rem
			border-radius 45px
			a
				text-decoration none
				color white   
				font-family var(--encode)
				text-transform uppercase
