.skills
	p
		font-family var(--encode)
		text-align center
		padding-bottom 1rem
	.flexSkills
		display flex
		flex-wrap wrap
		li
			width 49%
			height 150px
			list-style-type none
			border-bottom none
			img
				display block
				width 100%
				height auto