:root {
/* font-family */
  --montserrat: 'montserrat', sans-serif;
  --shadows: 'Shadows Into Light', cursive;
  --encode: 'Encode Sans Expanded', sans-serif;
/* sizes */
  --main-title--mobil: 2rem;
  --title--mobil: 1.3rem;
  --sub-title--mobil: 1.2rem;
  --main-title--tablet: 2.2rem;
  --title--tablet: 1.5rem;
  --sub-title--tablet: 1.4rem;
  --main-title--desktop: 2.4rem;
  --title--desktop: 1.7rem;
  --sub-title--desktop: 1.6rem;
/* colors */
  --yellow-dark: rgba(255,171,0,0.6);
  --yellow-hover: #fff8dc;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  font-size: 16px;
}
body {
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px -12px 40px -2px #737373;
  -moz-box-shadow: 0px -12px 40px -2px #737373;
  box-shadow: 0px -12px 40px -2px #737373;
}
main {
  padding-top: 52px;
}
.title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  font-family: var(--montserrat);
  color: #282828;
}
.subtitle {
  font-family: var(--encode);
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--yellow-dark);
  padding: 0.4rem;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
}
footer {
  width: 100%;
  background-color: #fff8dc;
}
.logo {
  font-size: var(--main-title--mobil);
  font-family: var(--montserrat);
}
.logo .calligraphy {
  font-size: var(--main-title--mobil);
  font-family: var(--shadows);
}
.hamburger-icon {
  cursor: pointer;
}
.hamburger-icon .bar-one,
.hamburger-icon .bar-two,
.hamburger-icon .bar-three {
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
}
nav {
  position: absolute;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100vh;
  z-index: 200;
  background-color: #c0c0c0;
  transition: right 0.5s ease;
}
nav ul {
  font-family: var(--encode);
}
nav ul li {
  list-style-type: none;
  height: 3.4rem;
  border-bottom: 1px solid #000;
}
nav ul li a {
  color: #000;
  line-height: 3.4rem;
  text-transform: uppercase;
}
nav:hover {
  right: 0;
}
#home:target,
#home:target main,
#works:target,
#works:target main,
#skills:target,
#skills:target main,
#contact:target,
#contact:target main {
  margin-top: -100px;
  padding-top: 100px;
}
.accueil {
  background-color: #ffebcd;
  padding: 5rem 1.5rem 5rem 1.5rem;
}
.accueil .junior {
  font-family: var(--shadows);
  font-size: 2rem;
}
.accueil .now {
  font-family: var(--montserrat);
  font-size: 1rem;
  color: #282828;
  text-align: center;
  margin: 1rem 0 1.5rem;
}
.accueil .trait {
  width: 60px;
  height: 1px;
  border-top: 1px solid #000;
  margin: 0 auto;
}
.accueil .metiers {
  text-align: center;
  font-weight: 400;
  font-family: var(--encode);
  font-size: 1rem;
  margin: 2rem 0 2rem;
}
.accueil .ancreContact {
  width: 10rem;
  height: 2.6rem;
  background-color: #000;
  text-align: center;
  margin: 0 auto;
  line-height: 2.6rem;
  border-radius: 45px;
}
.accueil .ancreContact a {
  text-decoration: none;
  color: #fff;
  font-family: var(--encode);
  text-transform: uppercase;
}
.skills p {
  font-family: var(--encode);
  text-align: center;
  padding-bottom: 1rem;
}
.skills .flexSkills {
  display: flex;
  flex-wrap: wrap;
}
.skills .flexSkills li {
  width: 49%;
  height: 150px;
  list-style-type: none;
  border-bottom: none;
}
.skills .flexSkills li img {
  display: block;
  width: 100%;
  height: auto;
}
.works img {
  display: block;
  width: 100%;
  height: auto;
}
.works img .avatar {
  background-color: #d3d3d3;
}
.works article {
  padding: 2rem 1rem;
}
.works article .customer {
  font-family: var(--montserrat);
  text-align: left;
  font-weight: 600;
  margin-bottom: 1rem;
}
.works article .versionning {
  margin-bottom: 1.5rem;
}
.works article .projectDescription {
  font-family: var(--encode);
  margin-bottom: 1rem;
}
.works article .projectDescription .specificity {
  background-color: #ffebcd;
}
.works article .cover {
  width: 98%;
  diplay: block;
  margin: 0 auto;
  border: 1px solid #c0c0c0;
}
.works .trait {
  width: 20%;
  height: 1px;
  border-top: 1px solid #000;
  margin: 0 auto;
}
.contact {
  margin-bottom: 2rem;
}
.contact p {
  font-family: var(--encode);
  width: 90%;
  margin: 2rem auto;
}
.contact img {
  display: block;
  width: 220px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #808080;
}
.contact a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #000;
  font-family: var(--encode);
}
ul {
  font-family: var(--encode);
}
ul li {
  height: 2.4rem;
  border-bottom: 1px solid #ffebcd;
}
ul li a {
  color: #000;
  text-decoration: none;
  line-height: 2.4rem;
  text-align: center;
  display: block;
}
ul li a:active,
ul li a:focus,
ul li a:hover {
  color: #5f9ea0;
  cursor: pointer;
}
audio {
  display: block;
  margin: 1rem auto 0;
}
.copyright {
  font-family: var(--shadows);
  display: block;
  text-align: center;
  padding: 2rem 0 1rem;
}
.copyright a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:hover {
  color: #ff0;
}
