.works
	img
		display block
		width 100%
		height auto
		.avatar
			background-color lightgrey
	article
		padding 2rem 1rem
		.customer
			font-family var(--montserrat)
			text-align left
			font-weight 600
			margin-bottom 1rem
		.versionning
			margin-bottom 1.5rem
		.projectDescription
			font-family var(--encode)
			margin-bottom 1rem
			.specificity
				background-color #ffebcd
		.cover
			width 98%
			diplay block
			margin 0 auto 
			border 1px solid silver
	.trait
		width 20%
		height 1px
		border-top 1px solid black
		margin 0 auto